*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color:#e2e8f2;
    display: flex;
    padding: 20px;
}
.contenedor{
    width: 100%;
    height: 100vh;
    padding: 30px 60px;
    border-radius: 10px;
    background-color:white;
}
.h1{
    font-size: 30px;
}
.btn{
    display:flex;
    position: relative;
    right: 40px;
    top: -32px;
}
button{
    cursor: pointer;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: none;
    color:white;
    background-color:black;
    font-weight: 400;
}
.Notas-contenedor{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap:10px;
}
.nota{
    background-color: #9e80dc;
    border-radius: 10px;
    padding: 12px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.nota-contenido{
    outline:none;
    font-size: 14px;
    white-space: pre-wrap;
    min-height: 60px;
}
.nota-pie{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.nota-fecha{
    font-size: 12px;
}
.nota-eliminar{
    background-color:#86d1ec;
    border-radius: 8px;
    color:black;
    width: 70px;
    height: 20px;
    font-size: 13px;
}